@using battle_mate.Pages.BattleResult

<span>@Prob.ExpectedArmorSaves.FailedResult.ToString("F2") failed armor saves</span>
@if (Prob.LethalStrikeChecked)
{
    <span>, +@Prob.ExpectedArmorSaves.AdditionalFails.ToString("F2") LS</span>
}

<RerollResultNegative Reroll="Prob.RerollsArmorSaves" RerollCount="Prob.ExpectedArmorSaves.RerollCount"></RerollResultNegative>

@code {
    [Parameter]
    public ProbabilityChain Prob { get; set; }
}