@using battle_mate.Pages.BattleResult

<span>@Prob.ExpectedWardSaves.FailedResult.ToString("F2") unsaved wounds</span>

<RerollResultNegative Reroll="Prob.RerollsArmorSaves" RerollCount="Prob.ExpectedArmorSaves.RerollCount"></RerollResultNegative>

@code {
    [Parameter]
    public ProbabilityChain Prob { get; set; }
}