@using battle_mate.Pages.BattleResult

@if (Prob.PoisonChecked || Prob.Poison5Checked)
{
  <span>@((Prob.ExpectedWounds.SuccessResult - Prob.ExpectedWounds.Additional).ToString("F2")) +@Prob.ExpectedWounds.Additional.ToString("F2") P</span>
}
else
{
  <span>@Prob.ExpectedWounds.SuccessResult.ToString("F2") wounds</span>
}

<RerollResult Reroll="Prob.RerollsWound" RerollCount="Prob.ExpectedWounds.RerollCount"></RerollResult>

@code {
    [Parameter]
    public ProbabilityChain Prob { get; set; }
}