@page "/"

<h3>LOOOL</h3>
<div class="row">
  <div class="col p-0 pe-2">
    <ResultOverview AllPoints="PointsLeft"
                    PointsDifference="PointsDifferenceLeft"
                    InvokeWounds="val => WoundsLeft = val"
                    InvokeRanks="val => RanksLeft = val"
                    InvokeBanners="val => BannersLeft = val"
                    InvokeAdditionalPoints="val => AdditionalPointsLeft = val"
                    InvokeCharging="val => IsChargingLeft = val"
                    InvokeFlank="val => HasFlankLeft = val"
                    InvokeRear="val => HasRearLeft = val"
                    Ranks="RanksLeft"
                    Banners="BannersLeft"
                    AdditionalPoints="AdditionalPointsLeft"
                    Wounds="WoundsLeft">
    </ResultOverview>
  </div>
  <div class="col p-0 ps-2">
    <ResultOverview Right
                    AllPoints="PointsRight"
                    PointsDifference="PointsDifferenceRight"
                    InvokeWounds="val => WoundsRight = val"
                    InvokeRanks="val => RanksRight = val"
                    InvokeBanners="val => BannersRight = val"
                    InvokeAdditionalPoints="val => AdditionalPointsRight = val"
                    InvokeCharging="val => IsChargingRight = val"
                    InvokeFlank="val => HasFlankRight = val"
                    InvokeRear="val => HasRearRight = val"
                    Ranks="RanksRight"
                    Banners="BannersRight"
                    AdditionalPoints="AdditionalPointsRight"
                    Wounds="WoundsRight">
    </ResultOverview>
  </div>
</div>
<div class="row ">
  <button type="button" class="btn btn-outline-danger w-100 my-2" @onclick="ResetStats">
    Reset combat result
  </button>
</div>

@code {

  protected override void OnInitialized()
  {
    ResetStats();
  }

  private void ResetStats()
  {
    WoundsLeft = 0;
    WoundsRight = 0;
    RanksLeft = 0;
    RanksRight = 0;
    BannersLeft = 0;
    BannersRight = 0;
    AdditionalPointsLeft = 0;
    AdditionalPointsRight = 0;
    IsChargingLeft = new PointStrings(0, "");
    HasFlankLeft = new PointStrings(0, "");
    HasRearLeft = new PointStrings(0, "");
    IsChargingRight = new PointStrings(0, "");
    HasFlankRight = new PointStrings(0, "");
    HasRearRight = new PointStrings(0, "");
  }

  public int PointsLeft => WoundsLeft + RanksLeft + BannersLeft + AdditionalPointsLeft + IsChargingLeft.Points + HasFlankLeft.Points + HasRearLeft.Points;
  public int PointsDifferenceLeft => PointsLeft - PointsRight > 0 ? 0 : PointsLeft - PointsRight;

  public int PointsRight => WoundsRight + RanksRight + BannersRight + AdditionalPointsRight + IsChargingRight .Points + HasFlankRight .Points + HasRearRight.Points;
  public int PointsDifferenceRight => PointsRight - PointsLeft > 0 ? 0 : PointsRight - PointsLeft;

  public int WoundsLeft { get; set; }
  public int WoundsRight { get; set; }
  public int RanksLeft { get; set; }
  public int RanksRight { get; set; }
  public int BannersLeft { get; set; }
  public int BannersRight { get; set; }
  public int AdditionalPointsLeft { get; set; }
  public int AdditionalPointsRight { get; set; }

  public PointStrings IsChargingLeft { get; set; }
  public PointStrings HasFlankLeft { get; set; }
  public PointStrings HasRearLeft { get; set; }
  public PointStrings IsChargingRight { get; set; }
  public PointStrings HasFlankRight { get; set; }
  public PointStrings HasRearRight { get; set; }
}