<div class="mb-2">
  @if (Selected)
  {
    <button type="button" class="btn btn-success w-100" @onclick="() => InvokeChange.InvokeAsync(!Selected)">
      @TrueString
    </button>
  }
  else
  {
    <button type="button" class="btn btn-outline-secondary w-100" @onclick="() => InvokeChange.InvokeAsync(!Selected)">
      @FalseString
    </button>  
  }
</div>

@code {
  [Parameter]
  public bool Right { get; set; }
  [Parameter]
  public string TrueString { get; set; }
  [Parameter]
  public string FalseString { get; set; }
  [Parameter]
  public bool Selected { get; set; }
  [Parameter]
  public EventCallback<bool> InvokeChange { get; set; }
}