<h2 class="@((Right ? "text-start" : "text-end") + (PointsDifference < 0 ? " red" : " green"))">
  @PointsDifference
</h2>
<div class="@(Right ? "text-start" : "text-end")">
  @AllPoints
</div>
<UpAndDownComp Right="Right" Topic="Wounds" Input="Wounds" InvokeChange="InvokeWounds" ></UpAndDownComp>
@if (HasVsPoints)
{
  <UpAndDownComp Right="Right" Topic="VS wounds" Input="VsWounds" InvokeChange="InvokeVsWounds" ></UpAndDownComp>  
}
<UpAndDownComp Right="Right" Topic="Ranks" Input="Ranks" InvokeChange="InvokeRanks"></UpAndDownComp>
<UpAndDownComp Right="Right" Topic="Banners" Input="Banners" InvokeChange="InvokeBanners"></UpAndDownComp>
<UpAndDownComp Right="Right" Topic="Overkill" Input="Overkill" InvokeChange="InvokeOverkill"></UpAndDownComp>
@if (HasAdditionalPoints)
{
  <UpAndDownComp Right="Right" Topic="Additional" Input="AdditionalPoints" InvokeChange="InvokeAdditionalPoints"></UpAndDownComp>  
}
<CycleChecker InvokeChange="InvokeCharging" Values="ChargeValues" Index="ChargingIndex"></CycleChecker>
<CycleChecker InvokeChange="InvokeFlank" Values="FlankValues" Index="FlankIndex"></CycleChecker>
<CycleChecker InvokeChange="InvokeRear" Values="RearValues" Index="RearIndex"></CycleChecker>

@code {
  [Parameter]
  public bool Right { get; set; }
  [Parameter]
  public int PointsDifference { get; set; }
  [Parameter]
  public int AllPoints { get; set; }
  [Parameter]
  public int Wounds { get; set; }
  [Parameter]
  public int VsWounds { get; set; }
  [Parameter]
  public int Ranks { get; set; }
  [Parameter]
  public int Banners { get; set; }
  [Parameter]
  public int Overkill { get; set; }
  [Parameter]
  public int AdditionalPoints { get; set; }
  [Parameter]
  public int ChargingIndex { get; set; }
  [Parameter]
  public int FlankIndex { get; set; }
  [Parameter]
  public int RearIndex { get; set; }
  [Parameter]
  public bool HasAdditionalPoints { get; set; }
  [Parameter]
  public bool HasVsPoints { get; set; }
  
  [Parameter]
  public EventCallback<int> InvokeWounds { get; set; }
  [Parameter]
  public EventCallback<int> InvokeVsWounds { get; set; }
  [Parameter]
  public EventCallback<int> InvokeRanks { get; set; }
  [Parameter]
  public EventCallback<int> InvokeBanners { get; set; }
  [Parameter]
  public EventCallback<int> InvokeOverkill { get; set; }
  [Parameter]
  public EventCallback<int> InvokeAdditionalPoints { get; set; }
  
  [Parameter]
  public EventCallback<int> InvokeRear { get; set; }
  [Parameter]
  public EventCallback<int> InvokeFlank { get; set; }
  [Parameter]
  public EventCallback<int> InvokeCharging { get; set; }
  
  [Parameter]
  public List<PointStrings> ChargeValues { get; set; }
  [Parameter]
  public List<PointStrings> FlankValues  { get; set; }
  [Parameter]
  public List<PointStrings> RearValues { get; set; }
}