<h2 class="@((Right ? "text-start" : "text-end") + (PointsDifference < 0 ? " red" : " green"))">
  @PointsDifference
</h2>
<div class="@(Right ? "text-start" : "text-end")">
  @AllPoints
</div>
<UpAndDownComp Right="Right" Topic="W" Input="Wounds" InvokeChange="InvokeWounds" ></UpAndDownComp>
<UpAndDownComp Right="Right" Topic="R" Input="Ranks" InvokeChange="InvokeRanks"></UpAndDownComp>
<UpAndDownComp Right="Right" Topic="B" Input="Banners" InvokeChange="InvokeBanners"></UpAndDownComp>
<UpAndDownComp Right="Right" Topic="A" Input="AdditionalPoints" InvokeChange="InvokeAdditionalPoints"></UpAndDownComp>
<Checker Right="Right" Selected="IsCharging" InvokeChange="InvokeCharging" TrueString="Is charging" FalseString="Not charging"></Checker>
<Checker Right="Right" Selected="HasFlank" InvokeChange="InvokeFlank" TrueString="flanking" FalseString="No flank"></Checker>
<Checker Right="Right" Selected="HasGreatFlank" InvokeChange="InvokeGreatFlank" TrueString="Great flank" FalseString="No great flank"></Checker>
<Checker Right="Right" Selected="HasRear" InvokeChange="InvokeRear" TrueString="Has rear" FalseString="No rear"></Checker>
<Checker Right="Right" Selected="HasGreatRear" InvokeChange="InvokeGreatRear" TrueString="Great rear" FalseString="No great rear"></Checker>

@code {
  [Parameter]
  public bool Right { get; set; }
  [Parameter]
  public int PointsDifference { get; set; }
  [Parameter]
  public int AllPoints { get; set; }
  [Parameter]
  public int Wounds { get; set; }
  [Parameter]
  public int Ranks { get; set; }
  [Parameter]
  public int Banners { get; set; }
  [Parameter]
  public int AdditionalPoints { get; set; }
  [Parameter]
  public bool IsCharging { get; set; }
  [Parameter]
  public bool HasFlank { get; set; }
  [Parameter]
  public bool HasGreatFlank { get; set; }
  [Parameter]
  public bool HasRear { get; set; }
  [Parameter]
  public bool HasGreatRear { get; set; }
  
  [Parameter]
  public EventCallback<int> InvokeWounds { get; set; }
  [Parameter]
  public EventCallback<int> InvokeRanks { get; set; }
  [Parameter]
  public EventCallback<int> InvokeBanners { get; set; }
  [Parameter]
  public EventCallback<int> InvokeAdditionalPoints { get; set; }
  
  [Parameter]
  public EventCallback<bool> InvokeRear { get; set; }
  [Parameter]
  public EventCallback<bool> InvokeGreatRear { get; set; }
  [Parameter]
  public EventCallback<bool> InvokeFlank { get; set; }
  [Parameter]
  public EventCallback<bool> InvokeGreatFlank { get; set; }
  [Parameter]
  public EventCallback<bool> InvokeCharging { get; set; }
}