<div class="@($"d-flex mb-2 {(Right ? "flex-row" : "flex-row-reverse")}")">
  @if (Right)
  {
    <div class="col text-start">@Input @Topic</div>
  }
  else
  {
    <div class="col text-end">@Topic @Input</div>
  }
  <div class="@($"col w-25 {(Right ? "pe-2" : "ps-2")}")">
    <button class="btn btn-outline-success w-100" @onclick="async () => await InvokeChange.InvokeAsync(++Input)">
      +
    </button>
  </div>
  <div class="col w-25">
    <button class="btn btn-outline-danger w-100" @onclick="async () => await InvokeChange.InvokeAsync(--Input)">
      -
    </button>
  </div>
</div>

@code {
  [Parameter]
  public bool Right { get; set; }
  [Parameter]
  public string Topic { get; set; }
  [Parameter]
  public int Input { get; set; }
  [Parameter]
  public EventCallback<int> InvokeChange { get; set; }
}